@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  object-fit: cover;
    background-image:url("https://img.freepik.com/premium-vector/white-tiles-seamless-horizontal-pattern-white-bricks-metro-pool-wall-floor-subway_206049-2426.jpg?size=626&ext=jpg");
     bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .logo{
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 130px;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
